
{% extends 'base.html' %} {% block content %}
{% load static %}
<style>
    body.bg-img {
      background-image: url("{%static 'index\images\1.jpg'%}");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  <body class="bg-img" >
    <center>
<div class="containerr" style=" margin-top: 200px; margin-bottom: 300px;">

        <style>
            .card select {
                margin-right: 5px;
                background-color: #FAF8FF;
                border: 1px solid #CCCCCC;
                padding: 5px;
                font-size: 12px;
                width: 80%;
                margin-bottom: 10px;
            }
    
            .card button {
                font-size: 10px;
                background-color: #5AB02E;
                color: #FFFFFF;
                border: none;
                padding: 10px 13px;
                border-radius: 5px;
                cursor: pointer;
            }
        </style>

        
            <div class="card" style="width: 30rem; border-radius:20px;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; "> CLIENT :  {{client.nom}}</h5>
                  <img src="{%static 'images\farmer.jpg'%}"  width="160px" height="130px" />
                   {% comment %} <a class="btn btn-dark  mx-auto d-block" style='  font-size: 15px; background-color: darkgreen;' href="{% url 'connectasclient' %}" class="btn btn-primary">connect as client</a> {% endcomment %}
                   <form method="POST">
                    {% csrf_token %} 

                   <div class=""><br/>
                    <h6 style='font-size:10px; font-family:Verdana, Geneva, Tahoma, sans-serif;' >Select Id Of Project You Want To Visualize</h6>
                    <select name="proj" style="margin-right: 5px; background-color:#FAF8FF; font-family:Verdana, Geneva, Tahoma, sans-serif;">
                        {% for proj in projects %}
                        <option value="{{ proj.polygon_id }}" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Project ID: {{ proj.polygon_id }}</option>
                        {% endfor %}
                    </select>
                </div>
            

            
        

              <button class="btn btn-dark shadow-none add-project-btn" style="width: 40%;  font-size: 14px; background-color: #5AB02E;font-weight: bolder; border-radius:20px;margin-top : 20px; margin-bottom : -35px;font-family:Verdana, Geneva, Tahoma, sans-serif;" type="submit" value="save"><i class="fa-solid fa-eyes"></i>
                
                Visualize</button>

                <!-- <button class="btn btn-dark  mx-auto d-block" style='  font-size: 14px; background-color: #5AB02E;font-weight: bolder; margin-top : 30px; margin-bottom : -40px;font-family:Verdana, Geneva, Tahoma, sans-serif;' href="{% url 'connectassupervisor' %}" class="btn btn-primary">connect as supervisor</button> -->
              


            </form>
                </div>
              </div>

        </div>
    </div>

    
</div>
</center>
</body>

{% endblock %}