
{% extends 'base.html' %} {% block content %}
{% load static %}
<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<body class="bg-img" >
    <center>
<div class="containerr" style="margin-left: 400px; margin-top: 200px; margin-bottom: 300px;">

    <div class="row mb-8" >
        <div class="col-sm-4 " >
            <div class="card" style="width: 20rem; height: 15rem;border-radius:20px; ">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; "> SUPERVISOR</h4>
                  <img src="{%static 'images\supervisor.jpg'%}"  width="180px" height="105px" style="margin-top: 25px;"/>
                  <a class="btn btn-dark  mx-auto d-block" style=' border-radius:20px; font-size: 14px; background-color: #5AB02E;font-weight: bolder; margin-top : 30px; font-family:Verdana, Geneva, Tahoma, sans-serif;' href="{% url 'connectassupervisor' %}" class="btn btn-primary">connect as supervisor</a>
                </div>
              </div>
        </div>
        

        <div class="col-sm-4 " >
            <div class="card" style="width: 20rem; height: 15rem;border-radius:20px;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h4 class="card-title" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; "> CLIENT</h4>
                  <img src="{%static 'images\farmer.jpg'%}"  width="140px" height="110px" style="margin-top: 20px;" />
                   <a class="btn btn-dark  mx-auto d-block" style=' border-radius:20px; font-size: 14px; background-color: #5AB02E; font-weight: bolder; font-family:Verdana, Geneva, Tahoma, sans-serif; margin-top : 30px' href="{% url 'connectasclient' %}" class="btn btn-primary">connect as client</a>
                </div>
              </div>
        </div>
    </div>

    
</div>
</center>
</body>

{% endblock %}