{% extends 'base.html' %} 
{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

  </head>
  <body  style="background-color:#e9d58b; ">
    <center>
      <form method="POST">
        {% csrf_token %}
       
       <div class='col-6 rounded ' id="mapid" style="width: 1000px;height: 500px; box-sizing:border-box; margin-top: 20px;  border-radius: 50px;">
          <div class="leaflet-control">

          

          </div>

        </div>
        <input type="text" id="points" name="points" style="margin-right: 375px;" /> 
        <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="save" style='width:30%'>
          save polygone
        </button> -->

        <button id="save-polygon-btn" class="btn btn-dark  " style='width:30%; margin-top: 20px; background-color: #294c5b;'>Save </button>

      </form>
    </center>
    
    <script src="{% static 'js/map.js' %}" ></script>
  </body>
</html>

{% endblock %}
