{% extends 'base.html' %} {% block content %}
{% load static %}
<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="bg-img" >
<div class="container " >
  <form method="POST" id="form" class="shadow-lg p-6 mb-3 mt-3 rounded">
    {% csrf_token %}
    <h1 class="mb-4" style="color: #423A25;">Create an account</h1>
    <div class="row mb-3" >
      <div class="col" >
        <h4>Last Name</h4>
        {{ form.nom}}
        {% if form.nom.errors %}
        <strong class="text-danger" role="alert">{{ form.nom.errors }}</strong>
        {% endif %}
      </div>
      <div class="col">
        <h4>Fist Name</h4>
        {{ form.prenom}}
        {% if form.prenom.errors %}
        <strong class="text-danger" role="alert">{{ form.prenom.errors }}</strong>
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <h4>Pseudo</h4>
        {{ form.pseudo}}
        {% if form.pseudo.errors %}
        <strong class="text-danger" role="alert">{{ form.pseudo.errors }}</strong>
        {% endif %}
      </div>
      <div class="col">
        <h4>Phone</h4>
        {{ form.telephone }}
        {% if form.telephone.errors %}
        <strong class="text-danger" role="alert">{{ form.telephone.errors }}</strong>
        {% endif %}
      </div>
    </div>
    <div class="mb-3">
      <h4>Mail</h4>
      {{ form.email}}
      {% if form.email.errors %}
      <strong class="text-danger" role="alert">{{ form.email.errors }}</strong>
      {% endif %}
    </div>
    <div class="mb-3">
      <div class="col">
        <h4>Password</h4>
        {{ form.mot_de_passe}}
        {% if form.mot_de_passe.errors %}
        <strong class="text-danger" role="alert">{{ form.mot_de_passe.errors }}</strong>
        {% endif %}
      </div>
    </div>
    <div class="mb-3">
      <div class="col">
        <h4>Password confirmation</h4>
        {{ form.confirmation_mot_de_passe}}
        {% if form.confirmation_mot_de_passe.errors %}
        <strong class="text-danger" role="alert">{{ form.confirmation_mot_de_passe.errors }}</strong>
        {% endif %}
      </div>
    </div>

   

  

    <div class="text-center">
      <button class="btn btn-dark" style='width:30%; background-color: #423A25; color:#DFD9DB; font-size: 15px; ' type="submit" value="save">Next</button>
    </div>

    <div class="panel-footer" style="text-align: center; margin-top: 10px;">
      Already have an account? <a href="{% url 'connectas' %}">Click here</a> to log in.
  </div>
  </form>

  
</div>

</div>
{% endblock %}

